.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  display: flex;
  align-items: center;
  color: #ff9f00;
  margin: 0 25px;
}

.header_logoImage {
  margin-right: 10px;
}

.header_logoTitle {
  text-decoration: none;
  border: 0;
  color: white;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin: 0 10px;
}

.header_searchInput {
  height: 14px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #ff9f00;
}

/* .nav_items */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_item {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_itemLineOne {
  font-size: 12px;
  color: white;
}

.nav_itemLineTwo {
  font-size: 14px;
  font-weight: 700;
  color: #ff9f00;
}

.itemBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 50px;
  margin-left: 10px;
}

.nav_basketCount {
  margin-left: 10px;
  margin-right: 10px;
  font-size: medium;
}

@media (max-width: 540px) {
  .header {
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .itemBasket {
    margin-right: 0px;
  }
  .header_search {
    width: 90%;
  }
}
